.menu {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 10vh 0 0 25vw;
  font-size: 4vw;
  align-items: flex-start;
  align-self: center;
}

.menu__item {
  cursor: pointer;
  color: var(--color-menu);
  line-height: 1.25;
  text-transform: lowercase;
  letter-spacing: -0.025em;
  text-indent: -0.025em;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.menu__item:hover,
.menu__item:focus {
  color: var(--color-menu-hover);
}

.menu__item::before {
  content: "";
  width: 60%;
  height: 35px;
  background: linear-gradient(45deg, #0d324d, #7f5a83);
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 0 0;
  transform: scale3d(0, 1, 1);
}

.menu__item:nth-child(2)::before {
  background: linear-gradient(45deg, #a71d31, #3f0d12);
}

.menu__item:nth-child(3)::before {
  background: linear-gradient(45deg, #b02e0c, #eb4511);
}

.menu__item:nth-child(4)::before {
  background: linear-gradient(45deg, #04619f, #000000);
}

.menu__item:nth-child(5)::before {
  background: linear-gradient(45deg, #000000, #a55c1b);
}

.menu__item:nth-child(6)::before {
  background: linear-gradient(45deg, #5f0f40, #310e68);
}

.menu__item--showDeco::before {
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(1, 1, 1);
}

.menu__item--showDeco:hover::before {
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  /* Correct scale3d should be 1.25 to avoid black line endings*/
  transform: scale3d(1.25, 1, 1);
}

.menu__item span {
  display: block;
  position: relative;
}

@media screen and (max-width: 55em) {
  .menu {
    font-size: 2.75em;
    margin: 0 auto;
    margin-top: 15vh;
    align-items: center;
  }
  .menu__item {
    margin-bottom: 1.5rem;
  }
}
