.content__rest {
  opacity: 0;
  z-index: 100000;
  margin-top: 20px;
  padding: 1.5rem;
}

.lower {
  margin-top: 7rem !important;
}
/* 
.larger {
  max-width: 400px !important;
} */

.philosophy-content {
  max-width: 500px !important;
  text-align: justify;
  font-size: 20px;
  padding-top: 0.5rem !important;
}

@media (max-width: 576px) {
  .philosophy-content {
    margin-top: 0 !important;
    font-size: 18px; 
  }
}